<html>

<head>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/admin.css" />
    <script src="/bootstrap.min.js" type="text/javascript"></script>

    <script src="/libs/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="/libs/codemirror/codemirror.css">
    <script src="/libs/codemirror/mode/css/css.js"></script>
    <script src="/libs/codemirror/mode/javascript/javascript.js"></script>

    <script src="/libs/beautify_js/beautify.js"></script>
    <script src="/libs/beautify_js/beautify-css.js"></script>
    <script src="/libs/beautify_js/beautify-html.js"></script>
</head>

<body>
    <include href="views/admin/header.htm" />
    <div class="container">
<form method="POST" action="">
        <div class="row">
            <div class="col text-center mt-3">
                <h3>Konfiguration {{ @system->getMember('name') }}</h3>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col">
                <h4>System-Konfiguration</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <textarea id="cm_system_{{  @system->getMember('name') }}" name="jsonConfig"
                            class="codemirror">{{ json_encode(@system->getRawData()) }}</textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h4>Snippet-Template</h4>
                <div class="alert alert-info">
                    <set bleft="{" />
                    <set bright="}" />
                    Die Member des Snippets aus der JSON-Konfiguration können hier über {{ @bleft }}{{ @bleft }} @@MemberName {{ @bright }}{{ @bright }} eingebunden werden.
                    Reservierte Felder: 
                    <ul>
                        <li>{{ @bleft }}{{ @bleft }} @@img {{ @bright }}{{ @bright }} -> URL des angegebene Bildes</li>
                        <li>{{ @bleft }}{{ @bleft }} @@css {{ @bright }}{{ @bright }} -> Snippet-Spezifisches CSS </li>
                        <li>{{ @bleft }}{{ @bleft }} @@id {{ @bright }}{{ @bright }} -> ID des Snippets </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <textarea id="cm_css_{{  @system->getMember('name') }}" name="templateConfig" data-mode="text/html"
                            class="codemirror">{{ @system->getTemplate() }}</textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h4>CSS</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <textarea id="cm_css_{{  @system->getMember('name') }}" name="cssConfig" data-mode="text/css"
                            class="codemirror">{{ @system->getCss() }}</textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
               <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
    </div>
    <script src="/global.js"></script>
</body>

</html>