.hidden {
    display: none!important;
}

#previewContainer:not(.hidden) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: grey;
    overflow-y: scroll;
    overflow-x: auto;
   
}

#previewContainer:not(.hidden)::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#documentPreview {
    z-index: 1000;
}

.previewContainerHeader {
    text-align: center;
}

.previewContainerFooter {
    text-align: center;
}

td.likert-label {
    padding: 10px 15px;
}

td.likert-answer {
    padding: 0px 15px;
}