<html>

<head>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="{{ @system->getCssPathWeb() }}" />
</head>

<body>

    <check if="{{ @scope=='serp' }}">
        <div id="serp_preview">

            <include href="views/serp_header.htm" />
            <form method="POST">
                <input type="hidden" name="pagetype" value="SERP" />
                <input type="hidden" name="pageId" value="{{ @snippets->getId() }}" />
                <check if="{{ @environment == 'live' }}">
                    <input id="participantId" type="hidden" name="participant" value="{{ @participant->getId() }}" />
                </check>

                <repeat group="{{ @snippets->getSnippets() }}" value="{{ @snippet }}">
                    <div id="serp_result_{{ @snippet->getId() }}" class="serp_result serp-result <check if=" {{ @system->getMember('hasDocuments')}}">
                            hasDocuments
                        </check>"
                        data-id="{{ @snippet->getId() }}"
    <check if="{{ @system->getMember('hasDocuments') }}">
        data-document="/resources/{{ @system->getFolder() }}/documents/{{ @snippet->getId()}}/{{
        @snippet->getId()}}.html"
    </check>
    >
    <include href="{{ @templatePath }}" />
    <check if="{{ @snippet->getCSS() !== null }}">
        <style>
                {{ @snippet->getCss() }}
        </style>
    </check>
    </div>
    <include href="views/questions/question.htm"
        with="$answerType={{ @snippets->getAnswerType() }},$question={{ $snippets->getQuestion() }},$id={{ $snippet->getId() }},$answers={{ $snippets->getAnswers() }},$isRequired={{ true }},$minDescription={{ $snippets->getMinDescription() }},$maxDescription={{ $snippets->getMaxDescription() }}" />

    </repeat>
    <check if="{{ @environment == 'live' }}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" name="submit">Weiter</button>
                    </div>
                </div>
            </div>
        </div>
    </check>
    </form>
    </div>
    </check>
    <check if="{{ @scope=='questionnaire' }}">
        <div class="container">
            <form method="POST">
                <input type="hidden" name="pagetype" value="QUESTIONNAIRE" />
                <check if="{{ @environment == 'live' }}">
                    <input id="participantId" type="hidden" name="participant" value="{{ @participant->getId() }}" />
                </check>
                <input type="hidden" name="pageId" value="{{ @questionnaire->getId() }}" />

                <check if="{{ @questionnaire->getName() != null }}">
                    <div class="row">
                        <div class="col">
                            <h1>{{ @questionnaire->getName() }}</h1>
                        </div>
                    </div>
                </check>
                <check if="{{ @questionnaire->getDescription() != null }}">
                    <div class="row">
                        <div class="col">
                            <p>{{ @questionnaire->getDescription() }}</p>
                        </div>
                    </div>
                </check>
                <repeat group="{{ @questionnaire->getQuestions() }}" value="{{ @question }}">
                    <div class="row">
                        <div class="col">
                            <include href="views/questions/question.htm"
                                with="$answerType={{ @question->getAnswerType() }},$question={{ $question->getQuestion() }},$id={{ $question->getId() }},$answers={{ $question->getAnswers() }},$isRequired={{ $question->isRequired() }},$minDescription={{ $question->getMinDescription() }},$maxDescription={{ $question->getMaxDescription() }}" />
                        </div>
                    </div>
                </repeat>
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" name="submit">Weiter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </check>
    <div class="hidden" id="previewContainer">
        <div class="previewContainerHeader">
            <button class="btn btn-primary closePreviewButton">
                Dokument schlie&szlig;en
            </button>
        </div>
        <iframe id="documentPreview" src="" scrolling="no"></iframe>
        <div class="previewContainerFooter">
            <button class="btn btn-primary closePreviewButton">
                Dokument schlie&szlig;en
            </button>
        </div>
    </div>
    <script src="/global.js" type="text/javascript"></script>
</body>