{* have to add full namespace for questions *}
<div class="question">
        <check if="{{ @answerType == serpframework\config\Question::ANSWER_TYPE_TEXT }}">
                <include href="views/questions/answer_type_text.htm" />
        </check>
        <check if="{{ @answerType == serpframework\config\Question::ANSWER_TYPE_CHECKBOX }}">
                <include href="views/questions/answer_type_checkbox.htm" />
        </check>
        <check if="{{ @answerType == serpframework\config\Question::ANSWER_TYPE_RADIO }}">
                <include href="views/questions/answer_type_radio.htm" />
        </check>
</div>